

.root {
    -fx-background-image: url("file:/mnt/data/ForgotPassword.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/* Dark green for title */
#titleLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #3b5323; 
}
/* Dark green for the email prompt */
#emailPromptLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #3b5323; 
}
/* Dark green border */
#emailField {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #3b5323; 
    -fx-border-width: 2px;
    -fx-prompt-text-fill: #3b5323;
}
/* Dark green button */
#sendButton {
    -fx-background-color: #3b5323; 
    -fx-text-fill: #ffffff; /* White text */
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-pref-width: 150px;
}

#hyperlink {
    -fx-text-fill: #3b5323;
    -fx-underline: true;
}
